.container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center;
  }
  
  
  .image {
    width: 600px; /* Set your desired image width */
    height: 300px; /* Maintain aspect ratio */
    /* Add some space between the image and text */
    margin-left: 0px;
  }
  
  
  .centered-image {
    display: inline-block;
  }
  
  
  .text {
    font-size: 20px;
    padding-top: 20px;
    /* Your text styles go here */
  }
  
  
  .leftArrow {
    margin-top: 150px;
    margin-right: 150px;
  }
  
  
  .rightArrow {
    margin-top: 150px;
    margin-left: 150px;
  }
  
  
  