.container {
    display: flex;
    align-items: center; /* Align items vertically */
    /*justify-content: center*/
    flex-shrink: -50px;
  }
  
  .image {
    width: 500px; /* Set your desired image width */
    height: 300px; /* Maintain aspect ratio */
    padding-right: 10px; /* Add some space between the image and text */
    margin-left: -400px;
    margin-bottom: -10px;
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    /* Your text styles go here */
  }

  .custom-font {
    font-weight: bold;
    line-height: 1.2;
    font-size: 45px;
    margin-bottom: -10px;
    font-family: 'Your Font Name', arial;
    color:  "text-gradient-to-r from-blue-300 to-blue-600 ...";
    /* Add other font-related styles here if needed */
  }

  .info{
    line-height: 0.5;
    padding: 20px;
    color: white;
    margin-bottom: -30px;
  }

  .gradient-text {
    background: linear-gradient(to right, #aedef1, #406bdf);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Set the text color to transparent */
  }